@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #002772;
  --pink: #FDE2FF;
  --black: #1E1E1E;
  --purple: #720060;
  --blue-sky: #D6E6FF;
  --dark-gray: #3F3F3F;
  --gray: #DCDCDC;
  --white: #FFFFFF;  
}
.wrapper {
  position: relative;
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 80%;
  height: 65vh;
  padding: 32px;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.product {
  display: grid;
  height: 100%;
  gap: 10px;
  grid-template-columns: 30% 70%;
}
.product__summary {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product__summary .product__dtl {
  display: flex;
  justify-content: space-between;
  color: var(--dark-gray);
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.product__summary .product__title {
  font-weight: 600;
  font-size: 28px;
  color: var(--dark-gray);
}
.product__summary .product__rating {
  font-size: 18px;
  color: var(--dark-gray);
}
.product__img {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.product__summary .product__description {
  font-size: 20px;
  color: var(--black);
}
.product__summary .product__category {
  font-size: 18px;
}
.product__summary .product__price {
  font-size: 28px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 16px;
  font-weight: bold;
}
.product-not__category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-not__category__img {
  z-index: 0;
  display: block;
  margin-left: 5%;
  margin-right: auto;
  width: 100%;
}
.product-not__category__dtl {
  position: absolute;
  z-index: 1;
}
.btn {
  display: flex;
  gap: 16px;
}
.btn > .btn__buy, .btn__next {
  width: 100%;
  height: 42px;
  font-size: 16px;
  border-radius: none;
  font-weight: bold;
  cursor: pointer;
}
.btn > .btn__buy {
  color: var(--white);
  border: none;
}
.btn > .btn__next {
  background-color: var(--white);
}
.btn__man {
  background-color: var(--dark-blue);
}
.btn__woman {
  background-color: var(--purple);
}
.btn-outline__man {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}
.btn-outline__woman {
  color: var(--purple);
  border-color: var(--purple);
}
.btn__error {
  z-index: 1;
}
.text__woman {
  color: var(--purple);
}
.text__man {
  color: var(--dark-blue);
}
.text__error {
  font-size: 20px;
  color: var(--black);
  margin-bottom: 32px;
  font-weight: bold;
}
.bg__woman {
  background: url(../bg-pattern.svg) repeat-x, linear-gradient(
    to bottom,
    var(--pink) 65%, var(--white) 35%
  );
}
.bg__man {
  background: url(../bg-pattern.svg) repeat-x, linear-gradient(
    to bottom,
    var(--blue-sky) 65%, var(--white) 35%
  );
}
.bg__error {
  background: linear-gradient(
    to bottom,
    var(--gray) 65%, var(--white) 35%
  );
}
.dot {
  height: 20px;
  width: 20px;
  background-color: var(--gray);
  border-radius: 50%;
  display: inline-block;
  padding: 1px;
}
.lds-dual-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--dark-blue);
  border-color: var(--dark-blue) transparent var(--dark-blue) transparent;
  animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}